# Byte-compiled / optimized / DLL files
**/__pycache__/
.vscode/
run.out
run.error
run.log
.DS_Store
outputs/half_credit_literal/languages/artificial.yml
outputs/half_credit_pragmatic/languages/artificial.yml
outputs/indicator_literal/languages/artificial.yml
outputs/indicator_pragmatic/languages/artificial.yml
outputs/salt/languages/artificial.yml
